body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#table,
#table th,
#table td {
    text-align: right;
    border: 1px solid black;
}
#table th:first-of-type,
#table td:first-of-type {
    text-align: left;
}

#table-container th,
#table-container td {
    margin: 5px;
    padding: 5px;
    text-align: left;
    border: none;
}

.sort {
    background-color: lightgray;
    border-radius: 3px;
}
.sort:hover {
    cursor: pointer;
}

input,
button {
    margin: 15px 0;
    padding: 5px;
    outline: none;
   