/* little bit elementar styling */
body {
    text-align: center;
}

h1 {
    font-size: 5vmin;
    padding-bottom: 10vmin;
}

/* build the balls */
div {
    width: 200px;
    height: 150px;
    padding-top: 50px;
    font-size: 96px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 200px;
    margin: 5% 1%;
    transition: 0.3s;
}

/* some effects for hover and active */
div:hover {
    box-shadow: 0px 20px 20px #000000c0;
    transition: 0.5s;
}

div:active {
    transform: translate(5px, 5px);
    transition: 0.3s;
}

/* specific colors for each ball */
#ball1 {
    background: linear-gradient(45deg, #1d8f53 50%, #6e0e60 50%);
}

#ball2 {
    background: linear-gradient(45deg, #454270 50%, #d9ab42 50%);
}

#ball3 {
    background: linear-gradient(45deg, #00011f 50%, #c65d0c 50%);
}

#ball4 {
    background: linear-gradient(45deg, #0b0e69 50%, #2accfe 50%);
}
